version: "3.9"
services:
    web:
        image: "debill/reportsservice"
        ports:
            - "8000:80"
        depends_on:
            - db
    db:
        image: "mcr.microsoft.com/mssql/server"
        environment:
            SA_PASSWORD: "My!P@ssw0rd1"
            ACCEPT_EULA: "Y"